* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(img/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}



.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 110vh;
}


.selection-panel {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.input-form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2rem;
    font-size: 25px;
    padding: 1rem;
    background: rgba(240, 251, 190, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}

.input-form input {
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
    border: #d8b0b0 solid 0.5px;
}

.input-form input:focus {
    outline: none;
    border: #ce7272 solid 1.5px;
}

.select-form option {
    font-size: 15px;
    margin: 1px;
    padding: 2px;
}

.book-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.books {
    margin: 1 rem;
    width: 80%;
    background: rgba(240, 251, 190, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: none;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 8px;
}


.GeneratedTable {
    width: 100%;
    background: transparent;
    /* border-collapse: collapse;
     border-width: 2px;
     border-color: #000000;
     border-style: solid; */
    color: #000000;
    font-size: 25px;

}

.GeneratedTable th {
    border-bottom: solid 2px black;
}

.GeneratedTable td {
    border-bottom: #000000 dotted 1px;
    padding: 5px;
    text-align: center;

}

.GeneratedTable thead {
    margin-bottom: 2px;
}




.del {
    width: 15px;
    font-size: 20px;
    color: rgb(240, 6, 6);
    font-weight: bold;
}

td .fa-trash {
    color: rgb(240, 6, 6);
    cursor: pointer;
}

td .fa-trash:hover {
    color: rgb(247, 247, 247);
}



.fa-x {
    color: red;
}


.fa-check {
    color: green;
}

.fa-check,
.fa-x {
    font-size: 40px;
    font-weight: bold;
}


.box select {
    background: transparent;
    color: rgb(231, 231, 231);
    padding: 5px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}



.select-form option {
    padding: 30px;
    background: rgb(104, 96, 85);
    margin-bottom: 1rem;
}


.books {
    border: none;
    padding: 1rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

button {
    width: 150px;
    font-size: 15px;
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    margin-top: 1rem;


}

button:hover {
    background-color: transparent;
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);

}

.stats-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    width: 80%;
    justify-content: flex-end;
}

.total-books,
.read-books,
.not-read-books {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.total-books p {
    color: blue;
    font-weight: bold;

}

.read-books p {
    color: green;
    font-weight: bold;

}

.not-read-books p {
    color: red;
    font-weight: bold;

}

h4 {
    font-size: 20px;
    color: antiquewhite;
    font-weight: 500;
}

p {
    font-size: 20px;


}

.header h1 {
    color: antiquewhite;
}